<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mpaas-scan-higer" version="1.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>mPaaSScan</name>
    <hook src="scripts/afterPluginInstall.js" type="after_plugin_install" />
    <hook type="before_plugin_rm" src="scripts/beforePluginRemove.js" />
    <js-module name="mPaaSScan" src="www/mPaaSScan.js">
        <clobbers target="mPaaS" />
    </js-module>
    <!-- <dependency id="cordova-plugin-mpaas-core-higer"/> -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="mPaaSScan">
                <param name="android-package" value="higer.plugin.mpaas.scan.scan" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/scan/scan.java" target-dir="src/higer/plugin/mpaas/scan" />
        <framework custom="true" src="src/android/scan/scan.gradle" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="mPaaSScan">
                <param name="ios-package" value="mPaaSScan" />
            </feature>
        </config-file>
        <header-file src="src/ios/MPScanCodeViewController.h" />
        <header-file src="src/ios/ViewController.h" />
        <source-file src="src/ios/mPaaSScan.m" />
        <source-file src="src/ios/MPScanCodeViewController.m" />
        <source-file src="src/ios/ViewController.m" />
        <source-file src="src/ios/Prefix.pch" />
    </platform>
</plugin>